<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="/images/compass.png" type="favicon" />
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <title>CashFlow Compass</title>
</head>

<body class="p-0">
    <nav class="conatiner flex m-5 items-center gap-5">
        <img class="h-20" src="/images/compass.png" alt="">
        <p class="font-josefin-slab flex flex-col text-2xl"><span>CashFlow</span> <span>Compass</span></p>
    </nav>
    <main class="flex">
        <section>
            <lottie-player src="https://lottie.host/94674c01-4a80-4086-925b-01400e7b9105/oGl1DVf9VG.json"
                background="#FFFFFF" speed="1" loop autoplay direction="1" mode="normal" class="h-4/5"></lottie-player>
        </section>
        <section class="mt-32">
            <h1 class="font-jacques-francois flex flex-col">
                <span class="text-9xl">Empower</span>
                <span class="text-6xl">Your Investments</span>
            </h1>
            <p class="font-jacques-francois text-2xl">Predict Your Future Wealth with Precision.</p>
            <div class="flex gap-2">
                <a href="/login"
                    class="bg-indigo-800 hover:bg-transparent text-indigo-50 hover:text-indigo-800 border-indigo-800 border-2 font-kulim-park rounded-full py-1 px-10 mt-4 text-lg">Login</a>
                <a href="/signup"
                    class="border-indigo-800 border-2 text-indigo-800 hover:bg-indigo-100 font-kulim-park rounded-full py-1 px-10 mt-4 text-lg">Signup</a>
            </div>
        </section>
    </main>
</body>

</html>