<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon" href="/images/compass.png" type="favicon" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/styleRange.css" />
    <title>Savings Plan</title>
</head>

<body>
    <nav class="conatiner flex m-5 items-center justify-between">
        <div class="flex items-center gap-5">
            <img class="h-20" src="/images/compass.png">
            <p class="font-josefin-slab flex flex-col text-2xl"><span>CashFlow</span> <span>Compass</span></p>
        </div>
        <div class="flex items-center gap-5">
            <a href="/logout"
                class="bg-indigo-50 hover:bg-transparent text-indigo-800 hover:text-indigo-800 border-indigo-800 border-2 font-kulim-park rounded-full py-1 px-10 text-lg">Logout</a>
        </div>
    </nav>
    <div class="mx-8" id="top-of-page">
        <form>
            <div class="flex justify-center gap-6 p-4">
                <div>
                    <button class="p-3 bg-light text-center bg-indigo-100 text-indigo-950 rounded-lg font-kulim-park"
                        id="calculate" type="button">
                        Calculate
                    </button>
                </div>
                <div>
                    <button class="p-3 bg-light text-center bg-indigo-100 text-indigo-950 rounded-lg font-kulim-park"
                        id="viewReport" type="button">
                        View Report
                    </button>
                </div>
            </div>

            <div class="mt-6">

                <p class="text-xl font-bold mb-4 tet-indigo-950">
                    Savings Plan Inputs
                </p>
                <div class="flex gap-10 mb-3">
                    <div class="w-1/6">
                        <label class="block w-max text-indigo-900 font-semibold" for="savingsInput">Savings goal $:
                        </label>
                        <input class="bg-indigo-100 p-1 rounded text-700" id="savingsInput"
                            class="bg-indigo-100 p-1 rounded text-700" type="number" value="10000" />
                    </div>
                    <div class="w-full">
                        <datalist>
                            <option value="0" label="$0"></option>
                            <option label="$25k"></option>
                            <option label="$50k"></option>
                            <option label="$75k"></option>
                            <option label="$100k"></option>
                        </datalist>
                        <div class="tick-slider">
                            <div class="tick-slider-background"></div>
                            <div id="goalProgress" class="tick-slider-progress"></div>
                            <div id="goalTicks" class="tick-slider-tick-container"></div>
                            <input id="savingsRange" id="goalSlider" class="tick-slider-input" type="range" min="0"
                                max="100000" step="5" value="10000" data-tick-step="5000" data-tick-id="goalTicks"
                                data-progress-id="goalProgress" data-handle-size="18" data-min-label-id="goalLabelMin"
                                data-max-label-id="goalLabelMax" />
                        </div>
                    </div>
                </div>
                <div class="flex gap-10 mb-3">
                    <div class="w-1/6">
                        <label class="block w-max text-indigo-900 font-semibold" for="yearsInput">Years to save </label>
                        <input class="bg-indigo-100 p-1 rounded text-700" id="yearsInput" min="0" max="100" value="10"
                            type="number" />
                    </div>
                    <div class="w-full">
                        <datalist>
                            <option label="0"></option>
                            <option label="34"></option>
                            <option label="67"></option>
                            <option label="100"></option>
                        </datalist>
                        <div class="tick-slider">
                            <div class="tick-slider-background"></div>
                            <div id="yearProgress" class="tick-slider-progress"></div>
                            <div id="yearTicks" class="tick-slider-tick-container"></div>
                            <input id="yearsRange" id="yearSlider" class="tick-slider-input" type="range" min="0"
                                max="100" step="1" value="10" data-tick-step="5" data-tick-id="yearTicks"
                                data-progress-id="yearProgress" data-handle-size="18" data-min-label-id="yearLabelMin"
                                data-max-label-id="yearLabelMax" />
                        </div>
                    </div>
                </div>
                <div class="flex gap-10 mb-3">
                    <div class="w-1/6">
                        <label class="block w-max text-indigo-900 font-semibold" for="currentSavedInput">Current saved
                        </label>
                        <input class="bg-indigo-100 p-1 rounded text-700" id="currentSavedInput" value="1000"
                            type="number" />
                    </div>
                    <div class="w-full">
                        <datalist>
                            <option label="$0"></option>
                            <option label="$25k"></option>
                            <option label="$50k"></option>
                            <option label="$75k"></option>
                            <option label="$100k"></option>
                        </datalist>
                        <div class="tick-slider">
                            <div class="tick-slider-background"></div>
                            <div id="currentSavedProgress" class="tick-slider-progress"></div>
                            <div id="currentSavedTicks" class="tick-slider-tick-container"></div>
                            <input id="currentSavedRange" id="currentSavedSlider" class="tick-slider-input" type="range"
                                min="0" max="100000" step="500" value="1000" data-tick-step="5000"
                                data-tick-id="currentSavedTicks" data-progress-id="currentSavedProgress"
                                data-handle-size="18" data-min-label-id="currentSavedLabelMin"
                                data-max-label-id="currentSavedLabelMax" style="width: 100%" />
                        </div>
                    </div>
                </div>
                <div class="flex gap-10 mb-3">
                    <div class="w-1/6">
                        <label class="block w-max text-indigo-900 font-semibold" for="monthlySavingsInput">Monthly
                            Savings $: </label>
                        <input class="bg-indigo-100 p-1 rounded text-700" id="monthlySavingsInput" value="500"
                            type="number" />
                    </div>
                    <div class="w-full">
                        <datalist>
                            <option label="$0"></option>
                            <option label="$5k"></option>
                            <option label="$10k"></option>
                            <option label="$15k"></option>
                            <option label="$20k"></option>
                        </datalist>
                        <div class="tick-slider">
                            <div class="tick-slider-background"></div>
                            <div id="monthlySavingsProgress" class="tick-slider-progress"></div>
                            <div id="monthlySavingsTicks" class="tick-slider-tick-container"></div>
                            <input id="monthlySavingsRange" id="monthlySavingsSlider" class="tick-slider-input"
                                type="range" min="0" max="20000" step="1000" value="500" data-tick-step="1000"
                                data-tick-id="monthlySavingsTicks" data-progress-id="monthlySavingsProgress"
                                data-handle-size="18" data-min-label-id="monthlySavingsLabelMin"
                                data-max-label-id="monthlySavingsLabelMax" />
                        </div>
                    </div>
                </div>
                <div class="flex gap-10 mb-3">
                    <div class="w-1/6">
                        <label class="block w-max text-indigo-900 font-semibold" for="expectedRateInput">Expected Rate
                            %: </label>
                        <div class="text-xs" id="displayExpectedRate"></div>
                        <input class="bg-indigo-100 p-1 rounded text-700" id="expectedRateInput" value="3"
                            type="number" />
                    </div>
                    <div class="w-full">
                        <datalist>
                            <option label="0%"></option>
                            <option label="3%"></option>
                            <option label="6%"></option>
                            <option label="9%"></option>
                            <option label="12%"></option>
                        </datalist>
                        <div class="tick-slider">
                            <div class="tick-slider-background"></div>
                            <div id="rateProgress" class="tick-slider-progress"></div>
                            <div id="rateTicks" class="tick-slider-tick-container"></div>
                            <input id="expectedRateRange" id="rateSlider" class="tick-slider-input" type="range" min="0"
                                max="15" step="1" value="3" data-tick-step="1" data-tick-id="rateTicks"
                                data-progress-id="rateProgress" data-handle-size="18" data-min-label-id="rateLabelMin"
                                data-max-label-id="rateLabelMax" />
                        </div>
                    </div>
                </div>
                <div class="flex gap-10 mb-3">
                    <div class="w-1/6">
                        <label class="block w-max text-indigo-900 font-semibold" for="expectedInflationInput">
                            Expected Rate of Inflation %:
                        </label>
                        <input class="bg-indigo-100 p-1 rounded text-700" id="expectedInflationInput" value="1"
                            type="number" />
                    </div>

                    <div class="w-full">
                        <datalist>
                            <option label="0%"></option>
                            <option label="3%"></option>
                            <option label="6%"></option>
                            <option label="9%"></option>
                            <option label="12%"></option>
                        </datalist>
                        <div class="tick-slider">
                            <div class="tick-slider-background"></div>
                            <div id="expectedInflationProgress" class="tick-slider-progress"></div>
                            <div id="expectedInflationTicks" class="tick-slider-tick-container"></div>
                            <input id="expectedInflationRange" id="expectedInflationSlider" class="tick-slider-input"
                                type="range" min="0" max="15" step="2" value="1" data-tick-step="2"
                                data-tick-id="expectedInflationTicks" data-progress-id="expectedInflationProgress"
                                data-handle-size="18" data-min-label-id="expectedInflationLabelMin"
                                data-max-label-id="expectedInflationLabelMax" />
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="my-5" id="actualTime"></div>
        <!-- Graph  -->
        <div class="font-bold" id="chartDiv"></div>
        <!-- <div class="w-50 p-3"> -->
        <div class="vw-25 vh-25">
            <canvas id="myChart" width="300" height="150"></canvas>
        </div>
        <!-- BUTTONS -->
        <div class="flex justify-center gap-6 p-4">
            <div>
                <button class="p-3 bg-light text-center bg-indigo-100 text-indigo-950 rounded-lg font-kulim-park"
                    id="plan" type="button">
                    Back to Plan
                </button>
            </div>
            <div>
                <button class="p-3 bg-light text-center bg-indigo-100 text-indigo-950 rounded-lg font-kulim-park"
                    id="viewChart" type="button">
                    View By Year Report
                </button>
            </div>
        </div>
        <div class="w-1/2 mx-auto" id="tableDiv"></div>
        <div class="w-1/2 mx-auto my-8" id="dynamic-generatedTable"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    <script src="/js/app.js" type="module"></script>
</body>

</html>